<!-- Packages Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Cart</h6>
            <h1>Your bookings</h1>
        </div>
        <div class="row">
            <% bookings.forEach(book => { var booking = book.Package %>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="package-item bg-white mb-2">
                    <img class="img-fluid" src="<%= booking.mainImg %>" alt="Image">
                    <div class="p-4">
                        <div class="d-flex justify-content-between mb-3">
                            <small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i><%= booking.location %></small>
                            <small class="m-0"><i class="fa fa-calendar-alt text-primary mr-2"></i><%= booking.duration %> days</small>
                            <small class="m-0"><i class="fa fa-user text-primary mr-2"></i>2 Person</small>
                        </div>
                        <a class="h5 text-decoration-none" href="/server/traveller/single/<%=booking.ROWID%>"><%= booking.name %></a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <h5 class="m-0">$<%= booking.price %></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>
<!-- Packages End -->