<!-- Packages Start -->
<script src="https://js.paystack.co/v1/inline.js"></script>
<script src="/server/traveller/js/pay.js"></script>
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">ORDERS</h6>
            <h1>Your current orders</h1>
        </div>
        <div class="row">
            <% if (bookings.length == 0){ %>
                <div class="w-100 row justify-content-center">
                    <p class="p-2">Nothing here !</p>                    
                    <a href="/server/traveller/packages">
                        <button class="btn btn-outline-primary">Go shopping</button>
                    </a>
                </div>
            <% } %>
            <% 
            bookings.forEach(book => { var booking = book.Package; %>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="package-item bg-white mb-2">
                    <img class="img-fluid" src="/server/traveller/<%= booking.mainImg %>" alt="Image">
                    <div class="p-4">
                        <div class="d-flex justify-content-between mb-3">
                            <small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i><%= booking.location %></small>
                            <small class="m-0"><i class="fa fa-calendar-alt text-primary mr-2"></i><%= booking.duration %> days</small>
                            <small class="m-0"><i class="fa fa-user text-primary mr-2"></i>2 Person</small>
                        </div>
                        <a class="h5 text-decoration-none" href="single/<%=booking.ROWID%>"><%= booking.name %></a>
                        <div class="border-top mt-4 pt-4">
                            <div class="d-flex justify-content-between">
                                <h5 class="m-0">$<%= booking.price %></h5>
                                <a href="deleteorder?id=<%=booking.ROWID%>">
                                    <h6 class="m-0"><i class="fas fa-trash-alt text-danger mr-2"></i></h6>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>
<!-- Packages End -->