<head>
  <link href="/server/traveller/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/server/traveller/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/server/traveller/css/style.css">
  <script src="/server/traveller/js/layout.js"></script>
</head>
<!-- Header Start -->
<div class="container-fluid page-header">
  <div class="container">
    <div
      class="d-flex flex-column align-items-center justify-content-center"
      style="min-height: 400px"
    >
      <h3 class="display-4 text-white text-uppercase">Travel Details</h3>
      <div class="d-inline-flex text-white">
        <p class="m-0 text-uppercase"><a class="text-white" href="">Home</a></p>
        <i class="fa fa-angle-double-right pt-1 px-3"></i>
        <p class="m-0 text-uppercase">Travel Details</p>
      </div>
    </div>
  </div>
</div>
<!-- Header End -->
<!-- Blog Start -->
<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-8">
        <div class="alert alert-<%= message[1] %>" align="center"><%= message[0] %></div>
        <!-- Blog Detail Start -->
        <div class="pb-3">
          <div class="blog-item">
            <div class="position-relative">
              <img class="img-fluid w-100" src="/server/traveller/<%= package.mainImg %>" alt="" />
              <div class="blog-date">
                <% var date = new Date(package.travel_date) %>
                <h6 class="font-weight-bold mb-n1"><%= date.getDate() %>  </h6>
                <small class="text-white text-uppercase"><%= date.toLocaleString('default', { month: 'long' }) %></small>
              </div>
            </div>
          </div>
          <div class="bg-white mb-3" style="padding: 30px">
            <div class="d-flex mb-4 p-4">
              <a href="/server/traveller/bookpackage?id=<%= package.ROWID %>">
                <button class="btn btn-success">Book now</button>
              </a>
              <span class="p-2">$<%= package.price %></span>
            </div>
            <h2 class="mb-3">
              <%= package.name %>
            </h2>
            <p>
              <%= package.desc1 %>
            </p>
            <h4 class="mb-3"><%= %></h4>
            <img
              class="img-fluid w-50 float-left mr-4 mb-2"
              src="/server/traveller/<%= package.subImg %>"
            />
            <p>
              <%= package.desc2 %>
            </p>
          </div>
        </div>
        <!-- Blog Detail End -->
      </div>
    </div>
  </div>
</div>
<!-- Blog End -->
